gcp_project_id       = "my-culvert-demo"
gcp_region           = "us-central1"
environment          = "demo"
odp_dataset_id       = "odp_generic"
fdp_dataset_id       = "fdp_generic"
staging_bucket       = "my-culvert-demo-generic-temp"
error_bucket         = "my-culvert-demo-generic-error"
enable_cloud_run_job = "true"
image_uri            = "us-central1-docker.pkg.dev/my-culvert-demo/culvert/reference-e2e-gcp:0.1.0"
